.success {
  background: url(../../assists/Images/successImage.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  color: whitesmoke;
  padding: 5rem;
  p {
    font-size: 3.5rem;
  }
}
