*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --topbar-color:#1976d2;
}

.topbar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:var(--topbar-color);
}

.topbar_wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;

}
.top_left,.top_right, ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0.2rem;
   
    li{
        margin-left: 1rem;
        color: white;
        cursor: pointer;
        // border: 1px solid red;
        font-size: small;
       
    }
}

