.details_banner {
   //    background-color: #3c40c6;
   background: rgb(2, 0, 36);
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(19, 19, 161, 0.7567401960784313) 0%,
      rgba(23, 132, 164, 1) 50%,
      rgba(49, 64, 218, 0.7483368347338936) 100%,
      rgba(23, 141, 164, 1) 100%
   );
   width: 100%;
   // max-height: 30vh;
   position: relative;
}

.details_banner_inner {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.details_banner_left {
   position: relative;
   min-height: 22rem;
   // width: fit-content;
   // border: 1px solid rgb(0, 14, 0);

   h3 {
      margin-top: 2rem;
      width: 35rem;
      color: whitesmoke;
      padding-bottom: 1rem;
   }
   h5 {
      // width: 100%;
      color: whitesmoke;
      font-size: 0.7rem;
      padding-bottom: 1rem;
   }

   p {
      display: block;
      color: whitesmoke;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #f53b57;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      width: fit-content;
      span {
         color: whitesmoke;
         padding-right: 0.5rem;
      }
   }

   .details_banner_button {
      display: block;
   }
}

.details_banner_right {
   min-height: 25rem;

   img {
      background-color: #fff;
      max-height: 17rem;
      position: absolute;
      width: 23rem;
      box-shadow: 0 4px 15px #6d6b6bb3;
      margin: 2rem 10rem;
      border-radius: 1%;
      border: 1px whitesmoke solid;
      padding: 0.5rem;
   }
}
