.refund{
    width: 100%;
    background-color:#f8f9fa;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #f8f9fa;
}

.refund_wrapper{
    p{
        font-size: 0.9rem;
    }
}