.cancel {
    // background: url(../../assists/Images/cancel.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    color: whitesmoke;
    padding: 5rem;
    p {
      font-size: 3rem;
    }
  }
  