.products {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-top: 2rem;
    // max-width: 90rem;
    

    .product_wrapper{
        margin-top: 0.5rem;
        // margin-right: 0.2rem;
        max-width: 19rem;
        // height: fit-content;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.2rem 0.2rem 0 0;
        max-height: 30rem;
        word-wrap: break-word;
        cursor: pointer;

        &:hover{
            box-shadow: 0 4px 15px #6d6b6bb3;
            transition: 0.3s;
        }

        img{
            width: 10rem;
            height: 10rem;
            margin: auto;
            margin-top: 0.5rem;
            // border: 1px solid red;
            padding: 0.5rem;
        }

        .price_text{
            font-size: 1.2rem;
            font-weight: bold;
            color: rgba(34, 145, 230, 0.981);
        }

        .card-title{
            font-size: 0.8rem;
            min-height: 3rem;
            max-width: 12rem;
        
        }
        
    }
}

// .product_list{
//     display: flex;
//     flex-direction: column;
// }