.carousel-inner{
    
    img{
        height: 25rem!important;
        // width: 30rem !important;
       
    }
}

.carousel-caption{
    margin-bottom: 7rem;

     p {
        color:rgb(240, 233, 233);
    
    }
    h2{
        font-size: 3rem;
        color:rgba(235, 9, 96, 0.693);
    }
}
