.carousel-inner {
   img {
      height: 25rem !important;
      // width: 30rem !important;
   }
}

.carousel-caption {
   margin-bottom: 7rem;

   p {
      color: rgb(240, 233, 233);
   }
   h2 {
      font-size: 3rem;
      color: rgb(255, 255, 255);
   }
   span {
      color: rgb(255, 255, 255);
      background-color: rgba(155, 4, 4, 0.885);
      font-size: 3rem;
      padding: 1rem;
   }
}

//media query

@media only screen and (max-width: 600px) {
   body {
      background-color: #d2dae219;
   }
   .carousel {
      padding: 0 0.5rem;
      .carousel-inner {
         img {
            height: 10rem !important;
            // width: 30rem !important;
         }
      }
   }
}
