.purchase{
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #616060;
    border-radius: 0.5rem;
    height: fit-content;

}

.purchase_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .purchase_left button{
        display: flex;
        align-items: center;
        list-style: none;
        text-decoration: none;
    }
}

.purchase_delievery{
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid #616060;
    border-radius: 0.5rem;
    height: fit-content;
    color: #005e0c;
    background-color: #ccf0d1;
    border-color: #b8eabe;

    span{
        margin-right: 0.5rem;
    }
    }


