
.partners_wrapper {
    width: 100%;
   
    img{
        width: 90%;
        // width: 6rem;
        height: 5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(197, 194, 194);
        // margin-bottom: 0.5rem;
        margin: auto;
        padding: 0.5rem;
    }

    
}

.partner_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partnerList{
    width: 100%;
    background-color: rgb(242, 240, 238);
    padding-top: 2rem;
    padding-bottom: 2rem;

}

