.partners{
    display: inline-flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.partners_wrapper{
    justify-content: space-between;
}

.partners_wrapper > div{
    padding: 1rem;

    img{
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(197, 194, 194);
        margin-bottom: 0.5rem;
    }

    
}

