.shopping_cart{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin: auto;
    // border: 1px solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
}