.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.brands_title p {
  font-size: 1rem;
  font-weight: bold;
}

.brands_names p {
  font-size: 0.9rem;

  &:hover {
    cursor: pointer;
    color: #1976d2;
  }
}

.footer_end {
  width: 100%;
  margin-top: 3rem;
  // background-color: brown;

  .fotend_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
  .fotend_middle {
    display: flex;
    align-items: center;
    p {
      font-size: 0.9rem;
      margin-right: 1.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer_end {
    .fotend_wrapper {
      display: flex;
      flex-direction: column;
    }
    .fotend_middle {
      display: flex;
      flex-direction: column;
    }
    .fotend_cards {
      display: inline-flex;
    }
  }
}
