.carousel-inner{
    img{
        height: 25rem!important;
        // width: 30rem !important;
    }
}

.carousel-caption{
    margin-bottom: 7rem;

     p {
        color:#ffff;
    
    }
    h2{
        font-size: 3rem;
        color:rgb(228, 130, 85);
    }
}